= simple_form_for(@project) do |f|
  = f.error_notification

  .form-inputs
    = f.input :name
    = f.input :language, as: :select, collection: Sender.languages

  .form-actions
    = f.button :submit
