%p
  %b Name:
  = @project.name
  %br
  = link_to 'Recollection Pages', project_recollection_pages_path(@project)
  %br
  = link_to 'Messages', project_messages_path(@project)
  %br
  Recollections
  = render 'recollections/table', recollections: @project.recollections.order(id: :desc)
  %br
  = link_to 'New recollection', new_project_recollection_path(@project.id)

= link_to 'Edit', edit_project_path(@project)
\|
= link_to 'Back', projects_path