= simple_form_for @campaign, url: project_campaign_path(@project,@campaign) do |f|
  = f.error_notification

  .form-inputs
    = f.input :name
    = f.association :recollections, collection: Recollection.where(project_id: @project.id), as: :check_boxes

  .form-actions
    = f.button :submit
